:root {
  /* --sudoku-main-size: min( 100vh, 100vw); */
  /* --sudoku-main-size: 100px; */
  /* --sudoku-width: calc(70% * var(--sudoku-main-size));
  --sudoku-height: calc(70% * var(--sudoku-main-size)); */
  /* --sudoku-width: 70vh;
  --sudoku-height: 70vh; */

  --sudoku-width: 70%;
  --sudoku-height: 70%;
  /* --sudoku-division: calc(11.11% * var(--sudoku-main-size)); */
  --sudoku-division: 11.11vh;
  
  /*https://www.schemecolor.com/orange-and-black.php*/
  --accent-color1: #000000;
  --accent-color2: #dad1d1;
  --accent-color3: #f6b167;
  --accent-color4: #f07800,;
  --accent-color5: #d35100;
  --accent-row-column-highlight: rgb(253, 202, 148);
}

.App {
  background: var(--accent-color2);
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  /* align-items: center;
  margin: auto; */
  overflow: hidden;
}

.divPuzzle {

  max-width: 90%;
  height: 100%;
  
  position: absolute;
  /* overflow: hidden; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  /* visibility: hidden; */
  opacity: 0%;

}

.Sudoku {
  position: absolute; 
  width: 100%;
  aspect-ratio: 1/1;
  
  background: var(--accent-color1);
  z-index: 1;
  
  margin-Top: 50vh;
  transform: translate(0, -60%);
  border-radius: 5%;
  
  box-shadow: 0px 0px 0px 1vh var(--accent-color1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Cell
{
  background: var(--accent-color3);
  background-clip: padding-box;
  box-shadow: 0px 0px 0px 1px var(--accent-color5);
  z-index: 2;
  width: 11.11%; 
  height: 11.11%;  
  line-height: 11.11%; 
  min-width: 11.11%; 
  min-height: 11.11%; 
  position: relative;
  
  /* for testing only */
  font-size: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.CellValue {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  margin: auto;
  content: "";
}

.Answer {
  font-weight: bold;
}

.Filled {
  font-weight: normal;
}

.vertical-1 {
  position: absolute;
  height: 100%;
  left: 33%;
  z-index: 3;
  /* background: white; */
  border: 3px solid var(--accent-color1);
}

.vertical-2 {
  position: absolute;
  height: 100%;
  left: 66%;
  z-index: 3;
  /* background: white; */
  border: 3px solid var(--accent-color1);
}

.horizontal-1 {
  position: absolute;
  width: 100%;
  top: 33%;
  z-index: 3;
  /* background: white; */
  border: 3px solid var(--accent-color1);
}

.horizontal-2 {
  position: absolute;
  width: 100%;
  top: 66%;
  z-index: 3;
  /* background: white; */
  border: 3px solid var(--accent-color1);
}

.levelChooseContainer {
  width: 100%;
  height: 100%;
  background: var(--accent-color2);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.level {
  width: 15%;
  height: 15%;
  background: var(--accent-color3);
  margin: 20px;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}